*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    --cor-primaria: #5eb3c3;
    --espaco-margem: 0px 100px;
}

body{
    background-color: var(--cor-primaria);
    color: white;
    flex-wrap: wrap;
}
header{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
}
.nav{
    display: flex;
    align-items: baseline;

}
.nav img{
    width: 300px;
}
.nav ul{ 
    display: flex;
    margin-left: 750px;
}
.nav a{
    text-decoration: none;
    color: white ;
}
.nav li{
    list-style-type: none;
    margin-left: 20px;
}

.containerheader{
    display: flex;
    padding: 100px;
    gap: 100px;
}
.containerheader img{
    width: 800px;
}
.containerheader h1{
    font-size: 100px;
}
.containerheader span{
    font-size: 100px;
    font-weight: bold;
}

.title{
    text-align: center;
    padding: 50px;
    background-color: rgb(59, 58, 58);
    color: white;
    
}
.title h2{
    font-size: 65px;
    
}
.title p{
    font-size: 25px;
}
.section{
    background-color: white;
    color: black;
}
.secbuttons{
    padding: var(--espaco-margem);
    display: flex;
}
