
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#section2{
    background-color: rgb(104, 38, 0);
}

a{
    text-decoration: none;
    text-underline-offset: none;
}
li{
    list-style: none;
}
body{
    background-color: rgb(104, 38, 0);
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
    color: white;
}
img{
    width: 150px;
}

footer
{
    background-color: black;
    padding-top: 40px;
    color: white;
}

p{
    font-size: 20px;
    padding: 2% 20%;
}
footer
{
    background-color: black;
    padding-top: 40px;
    color: white;
    text-align: center;
}

.nav{
    background-color: black;
    display: flex;
    justify-content: center;


}
.nav ul{
    display: flex;
    margin: 20px;
    
}
.nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    
}

/*section1*/

.section{
    margin-top: 50px;
    background-color: rgb(80, 35, 3);
    padding: 1%;
}

.infocontainer{
    color: white;
    text-align: center;
}


.navinfo{
    padding: 10px 90px;
}
.navinfo ul{
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;

}
.navinfo a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
.navinfo img{
    width: 100px;
}

.front{
    color: yellow
}


.interessesvg{
    display: flex;
    justify-content: center;
}
